@charset "ISO-8859-1";

#headermenu{
	display:table;
}

#headermenu div{
	display:table-cell; 
	padding-right:30px;
}
#headermenu a:link{
	font-size:120%;
}

h1,h2,h3,h4,h5,h6{
	color:#FF4500;
}

a{
  color:#FF4500;	
}
a:hover{
	color:#808080;
	text-decoration: wavy;
}
a:active{
	color: #4B0082;
}
table{
	table-layout: initial;
  	border:2px solid orange;
  	border-collapse: collapse;
}

th,td{
	padding:8px;
}
th{
	background-color:#FF4500;
	color:cornsilk;
	font-size:120%;	
}
td{
	font-size:150%;
}
#formlogin{
	align-content: right;
}
table.form{
	border: 0px;
	padding: 8px;
	width: 80%;
	margin: 0 auto;
}

button{
	background-color:white ;
	padding:8px 10px;
	text-align: center;
	display: inline-block;
	border-radius:50px;	
	font-weight:bold;
}
button:hover{
	background-color:#808080;
	color:#FF4500;
	text-decoration: wavy;
}
input{
	border:2px solid;
	border-radius:50px;
	border-color:#FF4500;
}
.error{
	color: red;
	font-weight: bold;
	margin: 5px;
}
